body{
    font-family: Lucida Grande, Arial, Helvetica, sans-serif;
    color: white;
    background: black;
    min-height: 150px;
    padding-top: 25px;
    }


h1{
    font-size: 64px;
    text-align: center;
}


h2{
    font-size: 30px;
    text-shadow: 5px 5px 2px #808080;
    
}


p{
    size: 24px;
    min-height: 150px;
    padding-top: 20px;
}

#red{
    background: darkred;
    text-align: right;
}

#blue{
    background: blue;
    text-align: left;
}

#yellow{
    background: yellow;
    text-align: right;
    color: black;
    
    }

#yellow h2{
    text-shadow: 5px 5px 2px #c7e2c7;
}


#green{
    background: green;
    text-align: left;
}


img{
    width: 525px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
footer{
    color: white;
    background: black;
    padding-bottom: 10px;
    padding-right: 10px;
    text-align: right;
    
    }